<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                  <img src="https://data.promoqui.it/retailers/logos/000/002/368/medium/mobilya.jpg?1534399990" width="155px">   
                </div>
                <nav>
                    <ul>
                        <li><a routerLink="">Anasayfa</a></li>
                        <li><a routerLink="">Ürünler</a></li>
                        <li><a href="">Seçili Ürünler</a></li>
                         <li><a href="">İletişim</a></li>
                         <li><a href="">Sepet</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
