<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3></h3>
                <p></p>
            </div>
            <div class="footer-col-2">
                <img src="https://data.promoqui.it/retailers/logos/000/002/368/medium/mobilya.jpg">
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blogs</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Bizi takip edin</h3>
                <ul>
                    <li>FaceBook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>

                </ul>
            </div>
           
            
        </div>
        <hr>
        <p></p>
    </div>
</div>
