<div class="container">
  <img [src]="furn.imageUrl" alt="furn.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ furn.name }}
      </span>
      <span class="favorite {{ furn.favorite ? '' : 'not' }}"> ♡ </span>
    </div>
    <div class="rating">
      <star-rating
        [value]="furn.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="30px"
        [readonly]="true">      
      </star-rating>
    </div>

    <div class="origins">
        <span *ngFor="let origin of furn.origins">
            {{origin}}
        </span>
    </div>

    <div class="delivery-time">
        Teslimat <b>{{furn.deliveryTime}}</b> sürecektir
    </div>

    <div class="price">
        <span>{{furn.price}} ₺</span>
    </div>

    <button (click)="addToCart()">Sepete Ekle</button>
  </div>
</div>
